
<manifest>
    <application xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:label="Java eBook Reader"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
        </application>
</manifest>
